body {
  width: 100vw;
}

#root {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.container-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55px;
  background-color: #fff;
}

.container {
  width: 1200px;
  height: fit-content; 
  min-height: 1500px;
  margin: 0 auto; 
  display: flex;
}






