.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

body {
  width: 100vw;
}

#root {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  height: fit-content; 
  margin: 0 auto; 
  display: flex;
  position: absolute;
  top: 55px;
}



