/* body,html {
  background-color: #fff;
} */

.questions-board {
  width: calc(1200px - 161px);
  height: 130px;
  position: absolute;
  top: 56px;
  transform: translateX(161px);
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.board-title {
  font-size: 30px;
  padding: 30px;
}

.create-ask {
  width: 120px;
  height: 40px;
  border: 1px solid;
  line-height: 40px;
  text-align: center;
  border-radius: 7px;
  background-color: rgb(19, 127, 254);
  color: #fff;
  font-weight: 500;
  font-size: 15.3px;
  margin: 30px;
  margin-right: 50px;
}

.create-ask:hover {
  background-color: rgb(15, 104, 206);
  cursor: pointer;
}

.questions-container {
  width: calc(1200px - 161px);
  transform: translateX(161px);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 186px;
}