.sidebar-body {
  border: 1px solid;
  width: 161px;
  height: 400px;
  padding-top: 30px;
}

.home-tab {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0 10px 7px;
  color: rgb(125, 125, 125);
}

.home-tab:hover {
  color: rgb(12, 12, 13);
  cursor: pointer;
}

.home-tab.active {
  background-color: rgb(238, 239, 240);
  font-weight: 800;
  color: rgb(12, 12, 13);
  border-right: 4px solid orange;
  cursor: pointer;
}

.public-tab {
  font-size: 11px;
  padding: 10px 0 2px 7px;
  color: rgb(125, 125, 125);
}


.questions-tab-icon {
  display: flex;
  position: relative;
  color: rgb(125, 125, 125);
}

.questions-tab-icon:hover {
  color: rgb(12, 12, 13);
  cursor: pointer;
}

.questions-tab-icon.active {
  background-color: rgb(238, 239, 240);
  font-weight: 800;
  color: rgb(12, 12, 13);
  border-right: 4px solid orange;
  cursor: pointer;
}

.icon {
  position: absolute;
  top:50%;
  left: 7px;
  transform: translateY(-50%);
}

.questions-tab {
  font-size: 13px;
  padding: 10px 0 10px 28px;
  width: 161px;
  font-weight: 500;
}

.tags-tab {
  font-size: 13px;
  padding: 10px 0 10px 28px;
  border: 1px solid;
  font-weight: 500;
  color: rgb(125, 125, 125);
}

.users-tab {
  font-size: 13px;
  padding: 10px 0 10px 28px;
  border: 1px solid;
  font-weight: 500;
  color: rgb(125, 125, 125);
}

.companies-tab {
  font-size: 13px;
  padding: 10px 0 10px 28px;
  border: 1px solid;
  font-weight: 500;
  color: rgb(125, 125, 125);
}