.social {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  width: 18.5vw;
  height: 5.5vh;
  text-align: center;
  font: Inter;
  line-height: 29.05px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  vertical-align: middle;
  width: 4vw;
  height: 4vh;
}

.google {
}

.github {
  color: white;
  background-color: #2f3337;
}

.facebook {
  color: white;
  background-color: #385499;
}

.facebook:hover,
.github:hover,
.google:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
